@import url('https://fonts.googleapis.com/css?family=Muli');

html,body{
	margin:0;
	font-family: 'Muli', sans-serif;
	position: relative;
	height: 100%;
}

.headerbg {
	background-image: url('../img/bg.png');
	background-size: cover;
	color:#FFF;
	padding: 5%;
	height: 100%;
}

.logo {
	width: 40%;
	margin-top:30%;
}

.imgright{
	width: 60%;
}

.carousel-inner img
{
	margin: auto;
}

h3{
	color: #633991;
	font-size: 55px;
	font-weight: 500;
}

.gallery {
	padding-top: 50px;
	padding-bottom:  50px;
	padding-left: 20px;
	padding-right: 20px;
	color:#161616;
}